@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: ;
    --foreground: ;

    --primary: 0 0% 100%;

    --frosted-white: 0 0% 100%;
    --frosted-grey: 0 0% 78%;

    --taskbar-height: 2.5rem;
    --taskbar-margin-top: 1rem;
    --taskbar-total-height:
      calc(100vh - (var(--taskbar-height) + var(--taskbar-margin-top) + 2px));
  }
}

@layer base {
  body {
    @apply bg-[url('/images/mesh-background-sm.png')] text-primary;
  }
}